.homepage-header {
  padding: 2rem;
  background-color: #F0F0FF;
}

.homepage-header nav {
  width: 100%;
  display: flex;
}

.homepage-header nav img {
  height: 3rem;
}

.homepage-header nav .nav-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-header nav .nav-links a {
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.homepage-header nav .nav-links a:last-child {
  color: var(--primary-color);
  margin-left: 2rem;
}

.homepage-container {
  height: calc(100vh - 7rem);
  padding: 0rem 2.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/homepage-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homepage-container .search-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-container .search-field input {
  width: 50%;
  color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  background-color: white;
  transition: box-shadow 250ms;
}

.homepage-container .search-field input:hover {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.75);
}

.homepage-container .search-field input:focus {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.75);
}

.homepage-container .search-field button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.25rem;
  outline: none;
  border: none;
  border-radius: 50%;
  background: transparent;
  padding: 0.75rem;
}

.homepage-container .search-field button:hover img {
  opacity: 0.75;
}

.homepage-container .search-field button img {
  transition: opacity 200ms;
  height: 2rem;
}
